@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: black;
  color: white;
}

.container {
  border-radius: 10px;
  background-color: rgb(34, 34, 34);
  padding: 20px;
  margin: 40px;
  width: fit-content;
}


